{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}
        <div class="member-detail-section">
            <h2 class="member-detail-name">{{ user.first_name  }} {{ user.last_name }}</h2>
            <ul>
                    <li><span class="detail-label">ID:</span> {{ user.podio_code }}</li>
                    <li><span class="detail-label">Área:</span> {{ user.get_department_display }}</li>
                    <li><span class="detail-label">Cargo:</span> {{ user.get_post_display }}</li>
                    <li><span class="detail-label">Lider: </span> {{ user.leader}}</li>
                    <li><span class="detail-label">Email: </span> {{ user.email}}</li>
            </ul>
            <a href="{% url 'member_delete' user.podio_code %}">Deletar</a>
            <a href="{% url 'member_edit' user.podio_code %}">Editar</a>
        </div>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}