{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}
    <h2 class="title">Detalhe do membro</h2>
                <li> {{ user.first_name  }} {{ user.last_name }}</li>
                <li> ID: {{ user.podio_code }}</li>
                <li> Área: {{ user.get_department_display }}</li>
                <li> Cargo: {{ user.get_post_display }}</li>
                <li> Blá Blá Blá todas as informacões</li>
    </ul>
        <a href="{% url 'member_delete' user.podio_code %}">Deletar</a>
        <a href="{% url 'member_edit' user.podio_code %}">Editar</a>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}