{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}

        <h2 class="title">Calendário de Reuniões</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th class="table-column">Responsável</th>
                <th class="table-column">Tipo</th>
                <th class="table-column">Dia</th>
                <th class="table-column">Hora</th>
                <th class="table-column">Participantes</th>
{#                <th class="table-column"></th>#}
            </tr>
            </thead>
                <tbody>
            {% for event in events %}
                <tr class="row-meetings" id="{{ event.id }}" >
                    <td>{{ meeting.leader.first_name }}</td>
                    <td>{{ meeting.get_type_display }}</td>
                    <td>{{ meeting.date|date:'d/m/Y' }}</td>
                    <td>{{ meeting.time|time:'H:i' }} </td>
                    <td>{{ meeting.participants.first_name }} </td>
{#                    <td><a href="{% url 'meeting_edit' meeting.id %}">Editar</a></td>#}
                </tr>
            {% endfor %}
                </tbody>
                </table>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}