{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="ogr-container">
    <div class="login-panel">
        <div class="user-info forgot-pass-area">
            <h2 class="title">Esqueceu sua senha?</h2>
            <p class="forgot-description">Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para definir uma nova senha</p>

            <form class="forgot-form" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="login-button" name="login-button" value="Enviar">
            </form>
        </div>
    </div>
</div>
</body>
</html>


