{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <div class="container">

        {% if registered %}
            <h1>Boa Reunião :)</h1>
        {% else %}
            <div class="registration-area ogr-container">
                <h1 class="title">Registrar Reunião</h1>
                <div class="form-group">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ meeting_form.as_p }}
                        {{ participation_form1.as_p }}
                        {{ participation_form2.as_p }}
                        <p class="par-center">
                            <input class="register-button" type="submit" value="Registrar">
                        </p>

                    </form>
                </div>
            </div>

        {% endif %}

    </div>
{% endblock %}