{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}

        <h2 class="title">Histórico de Office Hours</h2>
        <table class="table">
            <thead>
            <tr>
                <th class="table-column">Dia</th>
                <th class="table-column">Hora do Check-in</th>
                <th class="table-column">Hora do Check-out</th>
            </tr>
            </thead>
                <tbody>
            {% for officehour in office_hours %}

                <tr>
                        <td>{{ office_hour.date }}</td>
                        <td>{{ office_hour.checkin_time }}</td>
                        <td>{{ office_hours.checkout_time }} </td>
                </tr>

            {% endfor %}
                </tbody>
                </table>

    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}