{% extends "base.html" %}
{% load datetime_filter %}
{% if user.is_authenticated %}
    {% block body_block %}

        <h2 class="title">Lista de Office Hours</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th class="table-column">Membro</th>
                <th class="table-column">Dia</th>
                <th class="table-column">Hora do Check-in</th>
                <th class="table-column">Hora do Check-out</th>
                <th class="table-column">Duração</th>
{#                <th class="table-column"> </th>#}
            </tr>
            </thead>
                <tbody>
            {% for office_hour in office_hours %}
                <tr class="row-office-hours" id="{{ office_hour.id }}" >
                    <td><a href="{% url 'member_view' office_hour.member.podio_code %}">{{ office_hour.member.first_name }} {{ office_hour.member.last_name }}</a></td>
                    <td>{{ office_hour.date|date:'d/m/Y' }}</td>
                    <td>{{ office_hour.checkin_time|date:'H:i' }}</td>
                    <td>{{ office_hour.checkout_time|date:'H:i' }} </td>
                    <td id="duration">{{ office_hour.duration|format_datetime }}</td>
{#                    <td><a class="edit-office-hour-{{ office_hour.id }}" href="{% url 'officehour_edit' office_hour.id %}">Editar</a></td>#}
                </tr>
            {% endfor %}
                </tbody>
                </table>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}