{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}
        <div class="registration-area">
            <h1 class="title">Editar Office Hour</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <p class="par-center">
                        <input class="register-button" type="submit" value="Salvar">
                    </p>
                </form>
            </div>
        </div>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}