{% extends "base.html" %}
{% if user.is_authenticated %}
    {% block body_block %}
        <div class="container">
            <div class="welce">
                {% if user.is_authenticated %}
                    <h1>Olá {{ user.first_name }} {{ user.last_name }},</h1>
                    <h2>Seja bem vindo ao iTexas !</h2>
                {% else %}
                    <h2>Register or Login if you'd like to</h2>
                {% endif %}
            </div>
            <div class="logo-company-content ">
                <img class="logo-company" src="../static/images/texas_vetor.png">
            </div>

        </div>
    {% endblock %}
{% else %}
    <h2>Logar</h2>
{% endif %}