{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="ogr-container">
        <div class="login-panel">
            <h2 class="title"> Seja bem vindo ao</h2>
            <h2 class="name-app">iTexas!</h2>

            <div class="user-info">
                <form method="post" action="{% url 'user_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">ID:</label>
                        <input class="input-id form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="input-pass form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="button-session">
                        <input type="submit" class="login-button" name="login-button" value="Login">
                        <a href="#" class="forgot-pass">Esqueci minha senha</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
